<html>

<head>
    <style>
        body {
            font-size: 18px;
            font-family: 'Lato', Helvetica, sans-serif;
        }

        ul {
            list-style-type: none;
            background-color: #293745;
            margin: 0;
            padding: 0;
            height: 80px;
            display: flex;
            align-items: center;
            display: fixed;
        }

        ul li {
            margin: 30px;
        }

        ul li a {
            text-decoration: none;
            color: #fff;
            margin: 10px;
        }

        ul li a:hover {
            text-decoration: underline;
        }

        .charts {
            float: left;
        }
        form {
            color: #fff;
            display: inline-block;
            margin: 5em;
        }
        form fieldset {
            background-color: #293745;
            border: none;
            border-radius: 10px;
            color: #fff;
            padding: 30px 60px;
        }
        form fieldset legend {
            box-shadow: 0 0 8px #fff;
            color: #fff;
            padding: 0 15px;
            background-color: #2F9ED0;
            border-radius: 10px;
        }
        form fieldset legend h1 {
            font-weight: lighter;
        }
        form fieldset label {
            display: block;
            width: 100%;
        }
        form fieldset label input, select {
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            border: none;
        }
        form fieldset button {
            background-color: #FDCE4B;
            color: #293745;
            cursor: pointer;
            border: none;
            border-radius: 10px;
            padding: 15px 25px;
        }
        form fieldset button:hover {
            opacity: 0.8;
        }

        .container h4 {
            margin: 0 5em;
            padding: 15px;
            font-weight: lighter;
            background-color: #DC402D;
            color: #fff;
            display: inline-block;
        }
        /* .container .charts a {
            background-color: #FDCE4B;
            color: #293745;
            cursor: pointer;
            border: none;
            border-radius: 10px;
            padding: 15px 25px;
        } */
    </style>
</head>

<body>
    <div class="container">
        <ul>
            <li><a href="/">HOME</a></li>
            <li> <a href="/goToForm">CHECK SYMPTOMS</a> </li>
            <li> <a href="/chart">MAKE APPOINTMENT</a> </li>
            <li> <a href="#">LEARN MORE</a> </li>
        </ul>
        <div class="charts">
            <div id="piechart" style="width: 800px; height: 400px;"></div>
            {{!-- <a href="/information.handlebars">Learn More About Bipolar</a> --}}
            <div id="piechart2" style="width: 800px; height: 400px;"></div>
            <div id="piechart3" style="width: 800px; height: 400px;"></div>
        </div>

        <form action="/chart" method="POST">
            <fieldset>
                <legend>
                    <h1>Make An Appointment</h1>
                </legend>
                <br>
                <label for="name">
                    Name <input name="name" type="text">
                </label>
                <br>
                <label for="surname">
                    Surname <input name="surname" type="text">
                </label>
                <br>
                <select name="doctor" id="doctors">
                    <option value="">Select a doctor</option>
                    <option value="Watson">Dr. Watson</option>
                    <option value="Naaidoo">Dr. Naaidoo</option>
                    <option value="Nkosi">Dr. Nkosi</option>
                    <option value="Hlongwane">Dr. Hlongwane</option>
                </select>
                <br><br>
                <button type="submit">Submit</button>
            </fieldset>
        </form>

        <h4>{{message}}</h4>
    </div>
</body>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">


    google.charts.load('current', { 'packages': ['corechart'] });

    google.charts.setOnLoadCallback(function () {

        drawChart();
        secondChart();
        thirdChart()

    });

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Illnesses', 'Percentage per year'],
            ['Bipolar Symptoms', {{ bipolar }}],
    ['No Symptoms', {{ bipolarNot }}]
        ]);

    var options = {
        title: 'Out of 5 symptoms for Bipolar Disorder: '
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
    }

    function secondChart() {

        var tableData = google.visualization.arrayToDataTable([
            ['Illnesses', 'Percentage per year'],
            ['Deppression Symptoms', {{ depression }}],
    ['No Symptoms', {{ depressionNot }}]
        ])

    var information = {
        title: 'Out of 6 symptoms for Deppression:'
    };

    var chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));

    chart2.draw(tableData, information);
    }

    function thirdChart() {

        var thirdChartData = google.visualization.arrayToDataTable([
            ['Illnesses', 'Percentage per year'],
            ['Schizophrania Symptoms', {{ schizophrenia }}],
    ['No Symptoms', {{ schizophreniaNot }}]
        ])

    var optionsThree = {
        title: 'Out of 6 symptoms for Schizophrania:',
    }

    var chart3 = new google.visualization.PieChart(document.getElementById('piechart3'));

    chart3.draw(thirdChartData, optionsThree);
    }

</script>

</html>