<div class="symptoms-container">
    <form method="POST" action="/goToForm">
        <h1>Symptoms Checking</h1>
        <br>
        <fieldset>
            <legend>
                <h3>Are you or anyone you know experiencing any of these symptoms?</h3>
            </legend>

            {{#each symptomNames}}
                <input type="radio" required name="{{names}}_{{illness_id}}_{{this.id}}" value="yes"><span>Yes</span>
                <input type="radio" required name="{{names}}_{{illness_id}}_{{this.id}}" value="no" checked><span>No</span>

                <strong>
                    {{this.description}}
                </strong>
                <br>
            {{/each}}

        </fieldset>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>